body {
    font-family: Arial, sans-serif;
    background-color: #161616;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 20px auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
}

.movie {
    position: relative;
    width: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
}

.movie img {
    width: 100%;
    display: block;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
}

.movie:hover {
    transform: scale(1.05);
}

.movie:hover .movie-info {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .movie {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}




